---
layout: layouts/base.njk
---
<div class="page-title-full-width-container" id="page-title-full-width-container">
  <header role="banner" id="page-title" class="container page-title-container">
    <h1 class="page-title">{{ title }}</h1>
  </header>
</div>

<main role="main" class="main-container container">
  <article class="page full clearfix node">
    <div class="content">
      {{ content | safe }}
    </div>
  </article>
</main>
