---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- Static Pages -->
  <url>
    <loc>https://katv.org/</loc>
    <changefreq>daily</changefreq>
    <priority>1.0</priority>
  </url>
  <url>
    <loc>https://katv.org/vod/</loc>
    <changefreq>daily</changefreq>
    <priority>0.9</priority>
  </url>
  <url>
    <loc>https://katv.org/live/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://katv.org/bulletin-board/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://katv.org/schedule/</loc>
    <changefreq>daily</changefreq>
    <priority>0.8</priority>
  </url>
  <url>
    <loc>https://katv.org/about/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  <url>
    <loc>https://katv.org/jobs/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.6</priority>
  </url>
  <url>
    <loc>https://katv.org/search/</loc>
    <changefreq>monthly</changefreq>
    <priority>0.5</priority>
  </url>
  
  <!-- VOD Pages -->
  {%- for vod in vods %}
  <url>
    <loc>https://katv.org{{ vod.path }}/</loc>
    {%- if vod.date %}
    <lastmod>{{ vod.date }}</lastmod>
    {%- endif %}
    <changefreq>monthly</changefreq>
    <priority>0.8</priority>
  </url>
  {%- endfor %}

  <!-- Category Pages -->
  {%- for cat in categories %}
  <url>
    <loc>https://katv.org{{ cat.path | categoryUrl }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}

  <!-- Year Pages -->
  {%- for yr in years %}
  <url>
    <loc>https://katv.org/vod/year/{{ yr.name }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.7</priority>
  </url>
  {%- endfor %}
</urlset>
