---
layout: layouts/vod.njk
pagination:
  data: vods
  size: 1
  alias: vod
  resolve: values
permalink: "{{ vod.path }}/index.html"
eleventyComputed:
  title: "{{ vod.title }}"
  description: "Watch {{ vod.title }} on Kingdom Access TV. Recorded on {{ vod.date | postDate }}{% if vod.location %} in {{ vod.location }}{% endif %}."
  teaserImage: "{{ vod.teaserImage }}"
---
